#PROJECT > .middle > .right {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 1px;

    .project {
        transform: translateZ(0);
        image-rendering: pixelated;
        width: 100%;
        height: max-content;
        align-self: stretch;
        display: none;
        flex-direction: column;
        padding: 30px 30px 30px 30px;
        box-sizing: border-box;
        background-color: var(--light-off-teal);
        border-radius: 9px;
        gap: 3px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;

        .title {
            display: flex;
            align-items: center;
            gap: 0px;
            h3 {
                margin: 0;
                padding: 0 14px 0 0;
                font-weight: 700;
                font-size: 24px;
                color: var(--off-black);
            }
        }
        h3 {
            color: var(--off-black-06);
            font-size: 13px;
            font-weight: 400;
            margin: 0;
        }
        .description {
            margin: 0;
            padding: 0;
            font-weight: 400;
            font-size: 15px;
            color: var(--off-black-06);
            width: 100%;
            p {
                margin: 0;
                padding: 0;
            }
        }

    }
    .project:hover, .project--active {
        background-color: var(--off-white);
    }

    .menu {
        width: 100%;
        flex: 0 0 60px;
        display: none;
        gap: 1px;
        transform: translateZ(0);
        image-rendering: pixelated;
        .nav-link {
            background-color: var(--light-off-teal);
            color: var(--dark-green);
            border-radius: 9px;
            width: max-content;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 9px;
            font-size: 13px;
            font-weight: 600;
            transition: all 0.3s ease-in-out;
            box-sizing: border-box;
            padding: 0px 30px;
            cursor: pointer;
        }
        .website {
            width: 100%;
        }
        .nav-link.active {
            background-color: var(--off-white);
            color: var(--off-black);
            font-weight: 600;
        }
        .nav-link:hover {
            background-color: var(--off-white);
            color: var(--off-black-06);
        }
        .cell {
            background-color: var(--off-white);
            width: 100%;
            height: 100%;
            border-radius: 9px;
        }
    }

}

#PROJECT > .middle > .left {
    box-sizing: border-box;
    flex: 0 0 420px;
    align-self: stretch;
    gap: 1px;
    background-color: var(--light-off-teal);
    border-radius: 0px 0px 9px 9px;

    .sticky-div {
        position: sticky;
        top: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 1px;
        background-color: var(--off-teal);
        transform: translateZ(0);
        image-rendering: pixelated;

        .menu {
            width: 100%;
            flex: 0 0 60px;
            display: flex;
            gap: 1px;
            transform: translateZ(0);
            image-rendering: pixelated;
            .nav-link {
                background-color: var(--light-off-teal);
                color: var(--dark-green);
                border-radius: 9px;
                width: max-content;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 9px;
                font-size: 13px;
                font-weight: 600;
                transition: all 0.3s ease-in-out;
                box-sizing: border-box;
                padding: 0px 30px;
                cursor: pointer;
            }
            .website {
                width: 100%;
            }
            .nav-link.active {
                background-color: var(--off-white);
                color: var(--off-black);
                font-weight: 600;
            }
            .nav-link:hover {
                background-color: var(--off-white);
                color: var(--off-black-06);
                font-size: 12.7px;
            }
            .cell {
                background-color: var(--off-white);
                width: 100%;
                height: 100%;
                border-radius: 9px;
            }
        }

        .project-title {
            width: 100%;
            background-color: var(--off-white);
            box-sizing: border-box;
            padding: 30px 30px 30px 30px;
            border-radius: 9px;
            gap: 12px;
            display: flex;
            font-size: 24px;
            font-weight: 700;
            color: var(--off-black);
            flex: 0;
            transform: translateZ(0);
            image-rendering: pixelated;
        }

        .details-wrapper {
            display: flex;
            width: 100%;
            align-items: flex-start;
            gap: 1px;
            flex: 0;
            position: relative;

            .details-left {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 1px;
                width: 100%;
                height: 100%;
                position: relative;
            }
            .detail {
                display: flex;
                width: 100%;
                padding: 30px;
                flex-direction: column;
                align-items: flex-start;
                gap: 6px;
                align-self: stretch;
                background-color: var(--off-white);
                border-radius: 9px;
                box-sizing: border-box;
                position: relative;
                h3 {
                    color: var(--off-black-06);
                    font-size: 13px;
                    font-weight: 400;
                    margin: 0;
                }
                .list {
                    display: flex;
                    flex-direction: column;
                    gap: 9px;
                    width: 100%;
                    .item {
                        display: flex;
                        gap: 0px;
                        width: 100%;
                        h2 {
                            color: var(--off-black);
                            font-size: 16px;
                            font-weight: 400;
                            margin: 0;
                        }
                        span {
                            color: var(--off-black-06);
                        }
                    }
                    .wrapper {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 22px;
                        height: 22px;
                        flex-shrink: 0;
                    }
                    img {
                        width: 9px;
                        height: 9px;
                    }
                }
            }
        }

        .project {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding: 30px 30px;
            box-sizing: border-box;
            background-color: var(--light-off-teal);
            border-radius: 9px;
            gap: 3px;
            transition: all 0.3s ease-in-out;
            cursor: pointer;

            .title {
                display: flex;
                align-items: flex-start;
                gap: 0px;
                width: 100%;
                min-width: 0;
                h3 {
                    margin: 0;
                    padding: 0 14px 0 0;
                    font-weight: 700;
                    font-size: 24px;
                    color: var(--off-black);
                    text-wrap: wrap;
                    word-break: break-word;
                }
            }
            .description {
                margin: 0;
                padding: 0;
                font-weight: 400;
                font-size: 15px;
                color: var(--off-black-06);
                p {
                    margin: 0;
                    padding: 0;
                }
            }

        }
        .project:hover, .project--active {
            background-color: var(--off-white);
        }

        .rounder {
            position: absolute;
            bottom: -9px;
            display: flex;
            width: 100%;
            height: 9px;
            align-items: start;
            justify-content: space-between;
            gap: 0px;
            border-top: 1px solid var(--off-teal);
            box-sizing: border-box;

            svg {
                width: 9px;
                height: 9px;
            }
        }

    }

}


@media screen and (max-width: 1200px) {

    #PROJECT > .middle {
        flex-direction: column;
    }

    #PROJECT > .middle > .left {
        width: 100%;
        flex: 0 0 auto;
        height: max-content;
    }

    #PROJECT > .middle > .right > .project {
        display: flex;
    }

    #PROJECT > .middle > .right > .menu {
        display: flex;
    }

    #PROJECT > .middle > .left > .sticky-div {
        position: relative;
        height: max-content;
    }

    #PROJECT > .middle > .left > .sticky-div > .rounder {
        display: none;
    }

    #PROJECT > .middle > .left > .sticky-div > .project {
        display: none;
    }

}
